<form action='/words/<%= @word.id %>' method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn-danger btn mt-5 ">Delete</button>
</form>
<form action='/words/<%= @word.id %>' method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-row">
    <div class="box-decore pr-5 pl-5 input-group input-group-lg col-md-5 mx-auto">
      <input type="text" class="class-input form-control text-center" name="word_name" value='<%= @word.name %>'>
      <div class="input-group-prepend">
        <button type="submit" class="btn-success btn">Change</button>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <div class="d-flex justify-content-center">
    <% if @word.definitions %>
      <ol>
          <div class="d-flex justify-space-between">
            <div>
              <% @word.definitions.each do |d| %>
          <li><%= d.name %>
            </div>
          <div><a href='/words/<%= @word.id %>/definitions/<%= d.id %>'><button class="btn btn-info mt-5">Edit Definition</button></a></div>
          </div>
          </li>
        <% end %>
      </ol>
    <% else %>
      <h3 class=" mt-3">This word has no definitions</h3>
    <% end %>
  </div>
</div>
<form class="container" action='/words/<%= @word.id %>/definitions/' method='post'>

  <div class="row">
    <div class="col-3"></div>
    <textarea class="text-center col-6 mt-2" placeholder="add a definition" name="name"></textarea>
    <div class="col-3">
  </div>
  <button type="submit" class="btn btn-success">Add Definition</button>
</form>